---
import Section from "../utils/section.astro"
import Container from "../utils/container.astro"
import MainInfo from "../blocks/main-info.astro"
import FormCalc from "../blocks/form-calc.astro"
---

<Section>
  <Container>
    <MainInfo class="col-span-6" />
    <FormCalc class="col-span-6" />
  </Container>
</Section>
