---
const { text, class: className, ...rest } = Astro.props
---

<button
  class={className +
    " rounded bg-purple-500 text-gray-50 px-7 py-[0.625rem] font-bold transition-colors " +
    "hover:bg-purple-400 active:bg-purple-700 disabled:bg-purple-200"
  }
>
  {text}
</button>
